.desktop-my-connections-ecwid-social-connect-dashboard {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 1421px;
  overflow: hidden;
  width: 1920px;
}

